<?xml version="1.0"?>

<model>
  <name>QBot-Robot</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Frederik Zwilling</name>
    <email>frederik.zwilling@gmail.com</email>
  </author>
  
  <license>Creative Commons Attribution 3.0 Unported</license>

  <description>
    Planar four-wheeled  mobile robot for QBot assesment task.
    Based on the Pioneer 3AT Mobile Robot with Skid-Steer Plugin by Dereck Wonnacott.
  </description>
</model>
